.page-fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms ease, transform 1000ms ease;
}

.page-fade-exit {
  opacity: 1;
}

.page-fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease;
}

a {
  position: relative;
  color: #333;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #007BFF;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}