.page-fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms ease, transform 1000ms ease;
}

.page-fade-exit {
  opacity: 1;
}

.page-fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease;
}