.research-tab{
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.432);
  padding: 20px;
  gap: 20px;
  max-width: 1500px;
  background-size: contain;
  flex-wrap: wrap;
  color: black;
  font-size: larger;
  justify-self: center;
  animation: fadeIn 1s ease-in-out forwards;
  justify-content: center;
  justify-items: center;
  text-align: justify;
  font-size: 22px;
  margin: 30px;
  animation: fadeIn 1s ease-in-out forwards;
}

.research-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.research-image img {
  max-width: 100%;
  height: 30rem;
  border-radius: 10px;
  object-fit: contain;
}

.research-grid{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    min-height: 40vh;
    gap: 1rem;
    background-image: url('../../assets/images/Research.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 0 -650px;
}

@media screen and (max-width: 768px) {
  .research-grid{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    min-height: 50vh;
    gap: 1rem;
    background-image: url('../../assets/images/Research.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-attachment: fixed; */
    background-position: 0 50px;
}

.research-image img {
  max-width: 100%;
  height: auto !important;
  border-radius: 10px;
  object-fit: contain;
}
}

