.joinus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  min-height: 50vh;
  gap: 1rem;
  background-image: url('../../assets/images/Resource.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position-y: 19%;
  animation: fadeIn 1s ease-in-out forwards;
}

.joinus-profile-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.joinus-tabs-row {
  display: flex;
  flex-wrap: wrap; /* Wrap on smaller screens */
  gap: 2rem;
  justify-content: space-between;
}

.joinus-tab {
  flex: 1 1 30%; /* Grow, shrink, and base width */
  background-color: #f8f8f8;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  min-width: 280px; /* Prevents squashing on narrow screens */
}

